@using Microsoft.Extensions.Configuration
@using System.Text;
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
    var dbpassword = string.IsNullOrEmpty(Configuration["dbpassword"]) ? string.Empty : Encoding.UTF8.GetString(Convert.FromBase64String(Configuration["dbpassword"]));
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Configuration["env"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Secret value read for password : @Configuration["dbpassword"]</p>

</div>
